body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

header {
    background: #222;
    color: white;
    padding: 30px;
    text-align: center;
}

section {
    padding: 40px;
}

.projet {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
}
