body {
    font-family: Arial, sans-serif;
    background: #FFC091;
    margin: 0;
}

header {
    background: #222;
    color: #FFC091;
    padding: 30px;
    text-align: center;
}

section {
    padding: 40px;
}

.projet {
    background: #FFC091;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
}
